torch
transformers==4.47.1
tokenizers==0.21.2
pandas
sentencepiece==0.1.99
monotonic_align
librosa==0.8.0
phonemizer
unidecode
hydra-core==1.3.2
pytorch_lightning==1.1.0
wget
wrapt
onnx==1.12.0
frozendict
inflect
braceexpand
webdataset
torch_stft
sox
editdistance
numpy==1.23.5
protobuf==3.20.0
